html, body, .root {
  height:100%;
  width:100%;
}
.list-places {
  width:300px;
  height:100%;
  background-color:#eaf0f2;
  position:absolute;
}
.map-nav-wrapper {
  left:300px;
  right:0;
  width:auto;
  height:100%;
  position:absolute;
}
.google-map {
  top:40px;
  bottom:0;
  width:100%;
  position:absolute;
}
a.menu svg {
  width:40px;
  fill: #000;
}
.navigation {
  height:40px;
  width:100%;
}
/*********** Responsive ***********/
.main {

}
@media screen and (min-width: 600px) {

}