html, body, .root {
  height:100%;
  width:100%;
}
.list-places {
  width:20%;
  height:100%;
  position:static;
  background-color:#eaf0f2;
}
.map-nav-wrapper {
  width:80%;
  height:100%;
  position:absolute;
}
.google-map {
  top:40px;
  bottom:0;
  width:100%;
  position:absolute;
}
a.menu svg {
  width:40px;
  fill: #000;
}
.navigation {
  height:40px;
  width:100%;
}
/*********** Responsive ***********/
.main {
  display:flex;
  justify-content:left;
  align-items:left;
  flex-direction:row;
  flex-wrap:wrap;
  height:100%;
  width:100%;
}
@media screen and (min-width: 600px) {

}