.flex__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 1em;
}

@media screen and (max-width: 550px) {
  h3 {
    text-align: center;
  }

  .header__logo {
    display: none;
  }

  .margin_right {
    margin: 0;
    padding-bottom: 1em;
  }

.featured {
    padding-top: 1em;
    text-align: center;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 850px) {
  body {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}